.menu {
  position: absolute;
  background-color: rgb(75, 75, 75);
  border-radius: 5px;
  padding: 5px 0;
  min-width: 200px;
  max-width: 400px;
}

.menu-item {
  padding: 5px;
  cursor: pointer;
  text-align: left;
}

.menu-item:hover {
  background-color: rgb(59, 59, 59);
}